extends ../layout
block content
   div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/session_add", method="post")
            fieldset
               h3= "Dodano konferencje!"