extends ../layout
block content
    div(class="row")
        div(class="col-lg-8")
            form(class="form-horizontal", action="/conference_edit/" + edited_conference.id_konferencja, method="post")
                fieldset
                     h1 Edytuj konferencje
                    div(class="form-group")
                        label(for="inputName", class="col-lg-2 control-label") Nazwa konferencji
                        div(class="col-lg-10")
                            input(type="text", class="form-control", name="nazwa", id="inputNazwa", value=edited_conference.nazwa)
                    div(class="form-group")
                        label(for="inputName", class="col-lg-2 control-label") Godzina
                        div(class="col-lg-10")
                            input(type="text", class="form-control", name="czas", id="inputNazwa", value=edited_conference.czas)
                    div(class="form-group")    
                        label(for="inputDate", class="col-lg-2 control-label") Data rozpoczecia
                        div(class="col-lg-10")
                            input(type="date", class="form-control", name="datroz", id="inputDataRoz", value=edited_conference.data_rozpoczecia)
                    div(class="form-group")   
                        label(for="inputDate", class="col-lg-2 control-label") Data zakonczenia
                        div(class="col-lg-10")
                            input(type="date", class="form-control", name="datzak", id="inputDataZak", value=edited_conference.data_zakonczenia)
                     div(class="form-group")    
                        label(for="inputAdres", class="col-lg-2 control-label") Adres
                        div(class="col-lg-10")
                            input(type="text", class="form-control", name="adres", id="inputAdres",  value=edited_conference.adres)        
                    div(class="form-group")
                    label(class="col-lg-2 control-label") Aktywna
                    div(class="col-lg-10")
                            div(class="radio")
                                label
                                    input(type="radio", name="optionAktywna", value="1")
                                    | Tak
                            div(class="radio")
                                label
                                    input(type="radio", name="optionAktywna", value="0")
                                    | Nie
                    div(class="form-group")    
                        label(for="inputName" class="col-lg-2 control-label") Koszty
                        div(class="col-lg-10")
                            input(type="text", class="form-control", name="koszty", id="costs", value=edited_conference.koszty)
                        div(class="form-group")
                    div(class="form-group")
                        div(class="col-lg-2 col-lg-offset-2")
                            div(class="row")
                                div(class="col-lg-2 col-lg-offset-0")
                                    button(type="submit",name="rejestruj", class="btn btn-primary") Edytuj