//
   Created by Wojtek on 2015-05-20.
extends layout
block content
    div(class="row")
        div(class="col-lg-8")
            form(class="form-horizontal", action="/login", method="post")
                fieldset
                    div(class="page-header")
                        h3 Logowanie
                    if error
                        div(class="alert alert-dismissible alert-danger"): p= error
                    div(class="form-group")
                        label(for="email", class="col-lg-2 control-label") Email
                        div(class="col-lg-10")
                            input(type="text", class="form-control", id="email", placeholder="Email", name="email")
                    div(class="form-group")
                        label(for="haslo", class="col-lg-2 control-label") Hasło
                        div(class="col-lg-10")
                            input(type="password", class="form-control", id="haslo", placeholder="Hasło", name="haslo")
                    div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                            div(class="row")
                                div(class="col-lg-1")
                                    button(type="submit",id="zaloguj" class="btn btn-primary") Zaloguj
                                div(class="col-lg-1 col-lg-offset-2")
                                    a(href="/register",type="submit",id="zarejestruj" class="btn btn-primary") Zarejestruj

