//
   Created by Wojtek on 2015-05-20.
extends layout
block content
    div(class="row")
        div(class="col-lg-8")
            form(class="form-horizontal", action="/register", method="post")
                fieldset
                    div(class="page-header")
                        h3 Rejestracja
                    if error
                        div(class="alert alert-dismissible alert-danger"): p= error
                    div(class="form-group")
                        label(for="email", class="col-lg-2 control-label") Email*
                        div(class="col-lg-10")
                            input(type="email", class="form-control", id="email", placeholder="Email", name="email")
                    div(class="form-group")
                        label(for="haslo", class="col-lg-2 control-label") Hasło*
                        div(class="col-lg-10")
                            input(type="password", class="form-control", id="haslo", placeholder="Hasło", name="haslo")
                    div(class="form-group")
                        label(for="imie", class="col-lg-2 control-label") Imię*
                        div(class="col-lg-10")
                            input(type="text", class="form-control", id="imie", placeholder="Imię", name="imie")
                    div(class="form-group")
                        label(for="nazwisko", class="col-lg-2 control-label") Nazwisko*
                        div(class="col-lg-10")
                            input(type="text", class="form-control", id="nazwisko", placeholder="Nazwisko", name="nazwisko")
                    div(class="form-group")
                        label(for="adres", class="col-lg-2 control-label") Adres
                        div(class="col-lg-10")
                            input(type="text", class="form-control", id="adres", placeholder="Adres", name="adres")
                    div(class="form-group")
                        label(for="firma", class="col-lg-2 control-label") Firma
                        div(class="col-lg-10")
                            input(type="text", class="form-control", id="firma", placeholder="Firma", name="firma")
                    div(class="form-group")
                        label(for="nr_telefonu", class="col-lg-2 control-label") Numer telefonu
                        div(class="col-lg-10")
                            input(type="inputPhone", class="form-control", id="nr_telefonu", placeholder="Numer telefonu", name="nrtel")
                    div(class="form-group")
                        p(class="text-warning") Pola oznaczone * są wymagane
                    div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                            div(class="row")
                                div(class="col-lg-1")
                                    button(type="submit",id="rejestruj" class="btn btn-primary") Rejestruj
                                div(class="col-lg-1 col-lg-offset-2")
                                    button(type="reset",id="cofnij" class="btn btn-default") Anuluj

