//
   Created by jacek on 2015-05-12.


extends layout

block content
    div(class="row")
        div(class="col-lg-8")
            form(class="form-horizontal", action="/paper", method="post")
                fieldset
                    div(class="page-header")
                        h3 Wyślij referat
                    if error
                        div(class="alert alert-dismissible alert-danger"): p= error
                    div(class="form-group")
                        label(for="name", class="col-lg-2 control-label") Nazwa referatu
                        div(class="col-lg-10")
                            input(id="nazwa", type="text", class="form-control", placeholder="Nazwa", name="nazwa")
                    div(class="form-group")
                        label(for="file", class="col-lg-2 control-label") Konferencja
                        div(class="col-lg-10")
                            select(name="konferencje", class="form-control")
                                each conference in conferences
                                    option(value=conference.id_przypisanie)= conference.nazwa
                    div(class="form-group")
                        label(for="file", class="col-lg-2 control-label") Treść referatu
                        div(class="col-lg-10")
                            textarea(id="tresc", type="text", rows="10", class="form-control", name="zawartosc", placeholder="Treść referatu")
                    div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                            button(type="submit", class="btn btn-primary") Wyślij

