//
   Created by ania on 2015-05-22.
extends ../layout
block content 
    a(href="/calendar/dld", class="btn btn-primary") Generuj do pliku .pdf
    h1= "Aktualny kalendarz wystąpien"
    div(class="row")
            div(class="col-lg-10")
                table(class= "table table-bordered")
                    thead
                        tr
                                th Imię 
                                th Nazwisko 
                                th Tytuł referatu
                                th Nazwa sesji
                                th Nazwa konferencji
                                th Data rozpoczęcia konferencji
                            each tmp1 in kalendarz
                                tr
                                    td= tmp1.imie
                                    td= tmp1.nazwisko
                                    td= tmp1.nazwarf
                                    td= tmp1.nazwas
                                    td= tmp1.nazwak
                                    th= tmp1.data