//
   Created by ania on 2015-05-22.

doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
body 
     h1= "Raport o artykułach"
            div(class="row")
                div(class="col-lg-10")
                   h5
                    table(class= "table table-bordered")
                        thead
                            tr
                                th Nazwa konferencji panelowej 
                                th Imię 
                                th Nazwisko
                                th Tytuł referatu
                                th Ocena
                            each tmp1 in artykuly
                                tr
                                    td= tmp1.nazwa
                                    td= tmp1.imie
                                    td= tmp1.nazwisko
                                    td= tmp1.tytul
                                    td= tmp1.ocena_sr