//
   Created by Illusion on 2015-05-22.

extends ../layout
block content
   div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/assign_paper/"+ referat.id_referat, method="post")
            fieldset
               h3= "Przydział recenzeta do referatu"
               div(class="form-group")
                    label(for="przydzial", class="col-lg-2 control-label") Referat
                    div(class="col-lg-10")
                    h4= referat.nazwa
               div(class="form-group")
                  label(for="przydzial", class="col-lg-2 control-label") Recenzent 1
                  div(class="col-lg-10")
                     select(class="form-control" id="przydzial" name="Recenzent1")
                           each val in recenzenci
                                option(value= val.id_uzytkownika)= val.imie+" "+val.nazwisko
                div(class="form-group")
                  label(for="przydzial", class="col-lg-2 control-label") Recenzent 2
                  div(class="col-lg-10")
                     select(class="form-control" id="przydzial" name="Recenzent2")
                            each val in recenzenci
                               option(value=val.id_uzytkownika)= val.imie+" "+val.nazwisko
               div(class="form-group")
                   if(liczba<2)
                      div(class="col-lg-10 col-lg-offset-2")
                         button(type="submit", class="btn btn-primary") Przypisz
