//
   Created by Illusion on 2015-05-22.

extends ../layout
block content
    div(class="row")
        div(class="col-lg-10")
        if wynik!=0
            h3= "Lista referatów"
            table(class="table table-bordered")
                thead
                    tr
                                th Nazwa referatu
                                th Imię i nazwisko autora
                                th Wyswietl
                                th Edytuj
                                th Usun
                                th Weryfikuj
                                th Przydziel recenzentow
                            each ref in wynik
                                tr
                                    td= ref.nazwa
                                    td= ref.imie+" "+ref.nazwisko
                                    td: a(href="/show_paper/" + ref.id_referat) Wyswietl
                                    td: a(href="/edit_paper/" + ref.id_referat) Edytuj
                                    td: a(href="/delete_paper/" + ref.id_referat) Usun
                                    td: a(href="/verify_paper/" + ref.id_referat)  Weryfikuj
                                    if (ref.zatwierdzony === 1)
                                        td: a(href="/assign_paper/" + ref.id_referat) Przydziel
                                    else
                                        td= " Referat nie zatwierdzony"
        else 
            h3="Brak referatow w bazie"                