extends ../layout
block content
    div(class="row")
        form(class="form-horizontal", action="/edit_hotel/" + edited_hotel.id_hotel, method="post")
             fieldset
                h1 Edytuj hotel
                div(class="form-group")
                    label(for="inputName", class="col-lg-2 control-label") Nazwa
                    div(class="col-lg-10")
                        input(type="text", class="form-control", name="nazwa", id="inputNazwa", placeholder="nazwa", value=edited_hotel.nazwa)
                div(class="form-group")
                    label(for="inputName", class="col-lg-2 control-label") Adres
                    div(class="col-lg-10")
                        input(type="text", class="form-control", name="adres", id="inputNazwa", placeholder="adres", value=edited_hotel.adres)
                div(class="form-group")
                    label(for="inputName", class="col-lg-2 control-label") Email
                    div(class="col-lg-10")
                        input(type="text", class="form-control", name="email", id="inputNazwa", placeholder="email", value=edited_hotel.email)
                div(class="form-group")
                        div(class="col-lg-2 col-lg-offset-2")
                            div(class="row")
                                div(class="col-lg-2 col-lg-offset-0")
                                    button(type="submit",name="rejestruj", class="btn btn-primary") Wyslij