extends ../layout
block content
    div(class="page-header")
        h3 Wybierz konferencję
    table(class="table table-striped table-hover")
        thead
            tr
                th Nazwa konferencji
                th Suma opłat
                th Wybranie
            each temp in conference
                tr
                    td= temp.nazwa
                    td= temp.kwota
                    td: a(href="/charges/review_costs/"+temp.id_konferencja) Wybierz
            //     td Konferencja nr 1
            //     td 169
            //     td: a(href="/set_cost/") Wybierz
            // tr
            //     td Konferencja nr 2 
            //     td 34
            //     td: a(href="/set_cost/") Wybierz