//
   Created by Mateusz on 2015-05-14.
extends ../layout
block content
    div(class="page-header")
        h3 Opłaty dla:
        h3=conference_name.nazwa
    table(class="table table-striped table-hover")
        thead
            tr
                th Nazwa
                th Cena
                th Usuwanie
            each temp in conference
                tr
                    td= temp.nazwa
                    td= temp.kwota
                    td: a(href="/charges/delete_cost/"+temp.id_oplaty) Usuń
    div(class="col-lg-8")
        form(class="form-horizontal", action="/charges/review_costs/"+conference_name.id_konferencja, method="post")
            fieldset
                div(class="form-group")
                    label(for="koszty", class="col-lg-2 control-label") Wprowadź nazwę wydatku:
                    div(class="col-lg-10")
                        input(type="text", class="form-control",name="nazwa",maxlenght=49)
                div(class="form-group")
                    label(for="koszty", class="col-lg-2 control-label") Wprowadź kwotę wydatku:
                    div(class="col-lg-10")
                        input(type="text", class="form-control",name="kwota")
                    div(class="form-group")    
                        div(class="col-lg-10 col-lg-offset-2")
                            button(type="submit",name="zatwierdz" class="btn btn-primary") Zatwierdź